.product-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.product-modal {
  background: var(--background);
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0 0 20px 0;
  max-height: calc(100% - 70px);
  margin-bottom: 108px;
  overflow-y: auto;
  animation: slideUp 0.3s ease;
}
.product-modal-overlay::-webkit-scrollbar {
  display: none;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}


@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(150%);
  }
}

.product-modal.slide-up {
  animation: slideUp 0.3s ease forwards;
}

.product-modal.slide-down {
  animation: slideDown 0.3s ease forwards;
}

.modal-image {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  margin-bottom: 16px;
}

.modal-title {
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 8px;
}

.modal-description {
  font-size: 15px;
  color: var(--gray);
  margin-bottom: 24px;
  text-align: center;
  font-weight: 400;

}

.add-to-cart-btn {
  padding: 14px;
  font-size: 16px;
  background-color: #00d084;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 16px;
  height: 64px;
  width: 92%;
}
